.vs/*
/RoutingServer/.vs/*
/RoutingServer/bin/Debug/
/BackEnd/.vs/*

/FrontEnd/.idea/
/FrontEnd/shelf/
/FrontEnd/workspace.xml
/FrontEnd/httpRequests/
/FrontEnd/dataSources/
/FrontEnd/dataSources.local.xml
