.vs/*
/RoutingServer/.vs/*
BackEnd/RoutingServer/.vs/*
/RoutingServer/bin/Debug/
/BackEnd/.vs/*
BackEnd/RoutingServer/.vs/*

Proxy/RoutingServer/.vs/*
/Proxy/RoutingServer/.vs/*
/Proxy/.vs/*
/Proxy/bin/Debug/
BackEnd/RoutingServer/RoutingServer/obj/Debug/*
BackEnd/Proxy/.vs/*

/FrontEnd/.idea/
/FrontEnd/shelf/
/FrontEnd/workspace.xml
/FrontEnd/httpRequests/
/FrontEnd/dataSources/
/FrontEnd/dataSources.local.xml
